body {
  background-color: #f2f2f2;
  color: #333333;
}

/* HEADER */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5vw;
  color: #333333;
}

.header {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 90px;
  margin-bottom: 40px;
}

/* SECTION 1 */

.section--one {
  display: flex;
  margin-left: 100px;
  margin-right: 0;
}

.main--img {
  height: 250px;
  width: 268px;
  border: 20px solid white;
  align-self: center;
  z-index: 1;
}

.main-article {
  background-color: #ffffff;
  margin-left: -150px;
  margin-right: 102px;
  margin-bottom: 40px;
  padding: 40px 85px 40px 159px;
  display: flex;
}

.main-article--info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.main-article--info span {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
}

.info--date {
  font-weight: 600;
  color: #999999;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
}

.main-article--main {
  display: flex;
}

.main-article--text > h2 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 4vw;
  color: #333333;
  text-align: left;
  padding-top: 0;
  margin-top: 15px;
}

.main-article--text > p {
  font-family: "Inter", sans-serif;
  color: #999999;
  font-size: 2vw;
  text-align: left;
  padding: 0px;
}

.main-article--more {
  color: #ae9957;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  text-transform: capitalize;
}

/* SECTION TWO */

h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.5vw;
  color: #333333;
  text-align: left;
}

.article--section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 5.5vw;
  gap: 1.5vw;
}
.article-preview {
  flex: 1 0 calc(25% - 1.5vw);
  width: 271px;
}

.article--body {
  padding: 1.5vw;
  background-color: white;
}

.article--img {
  height: auto;
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
  color: #ae9957;
  border: 1px solid #ae9957;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  text-transform: uppercase;
  padding: 20px 50px;
  margin-top: 50px;
}

/* SECTION 3 */

.section-three {
  background-image: url("assets/pic1.png");
  background-size: cover;
  margin-top: 90px;
}

.section-three--body {
  margin: 125px 317px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 4vw;
  padding-top: 125px;
}

.border {
  border-bottom: 10px solid white;
  width: 193px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

p {
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2vw;
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-three--button {
  padding-bottom: 20px;
  background-color: #ae9957;
  color: white;
}

/* MOBILE */
