$color-black: #333333;
$color-light-grey: #F2F2F2;
$color-dark-grey: #999999;
$color-white: #FFFFFF;
$color-mustard: #AE9957;

body {
    background-color: $color-light-grey;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: $color-black;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: $color-black;
    text-align: center;
    letter-spacing: 0;
}
 .header {
    display: flex;
    justify-content: center;
    gap: 22px;
 }
